name: C CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: install ctags
      run: sudo apt-get install -y universal-ctags
    - name: install flex
      run: sudo apt-get install -y flex
    - name: install bison
      run: sudo apt-get install -y bison
    - name: install shellcheck
      run: sudo apt-get install -y shellcheck
    - name: clone seqcexit
      run: git clone https://github.com/lcn2/seqcexit
    - name: install seqcexit
      run: cd seqcexit && sudo make install
    - name: clone independ
      run: git clone https://github.com/lcn2/independ
    - name: install independ
      run: cd independ && sudo make install
    - name: clone checknr
      run: git clone https://github.com/lcn2/checknr.git
    - name: install checknr
      run: cd checknr && sudo make install
    - name: clone picky
      run: git clone https://github.com/lcn2/picky
    - name: install picky
      run: cd picky && sudo make install
    - name: clone dbg
      run: git clone https://github.com/lcn2/dbg
    - name: install dbg
      run: cd dbg && sudo make clobber all install
    - name: clone dyn_array
      run: git clone https://github.com/lcn2/dyn_array
    - name: install dyn_array
      run: cd dyn_array && sudo make clobber all install
    - name: clone pr
      run: git clone https://github.com/lcn2/pr
    - name: install pr
      run: cd pr && sudo make clobber all install
    - name: rebuild parser
      run: make parser-o
    - name: make
      run: make
    - name: make VERBOSITY=3 test
      run: make VERBOSITY=3 test
    - name: make VERBOSITY=3 slow_release
      run: make VERBOSITY=3 slow_release
    - name: make bug_report
      run: make bug_report
    - name: run make check_man
      run: make check_man
